@import url(https://db.onlinewebfonts.com/c/fc0ba89248939ae27a47ce54c1f44737?family=Mabry+Pro);

.st-emotion-cache-zt5igj {
    font-family: 'Mabry Pro';
    font-size: 70px;
    font-weight: lighter;
    color: black;
    text-align: center;
}

.st-emotion-cache-j7qwjs.e11k5jya2{
    background-color: #779BF1;
    color: white;
    margin: 10px;
    border-radius: 10px;
    padding: 10px 20px; /* Adjust padding as needed */
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    font-family: 'Mabry Pro';
    font-weight: bolder;
    cursor: pointer;
    position: relative;
    z-index: 0;
}
.

.st-emotion-cache-j7qwjs.e11k5jya2:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.st-emotion-cache-j7qwjs.e11k5jya2:active {
    color: #779BF1
}

.st-emotion-cache-j7qwjs.e11k5jya2active:after {
    background: transparent;
}

.st-emotion-cache-j7qwjs.e11k5jya2:hover:before {
    opacity: 1;
}

.st-emotion-cache-j7qwjs.e11k5jya2:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #779BF1;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.st-emotion-cache-eqffof {
    font-family: "Mabry Pro";
    text-align: center;
    font-weight: 20px;
}
